.row {
  width: 90%;
  margin: auto;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

#lezioni.container, #steps.container {
  margin: 0 0;
}

.bg-grey {
  background-color: #f9f9f9;
}

[class*="col-"] {
  padding: 2%;
}

h3, p {
  margin: 20px 0;
}

#lezioni, #steps, #why {
  text-align: center;
}

#lezioni img, #steps img {
  height: 200px;
  margin: 0 auto;
  display: block;
}

/* RESIZE IMMAGINI PER TABLET */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  #lezioni img, #steps img {
    height: 150px;
    margin: 0 auto;
    display: block;
  }
}

/* RESIZE IMMAGINI PER PHONES */
@media screen and (max-width: 768px) {
  #lezioni img, #steps img {
    height: 100px;
    margin: 0 auto;
    display: block;
  }
}

#why .row img {
  height: 200px;
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

/* RESIZE IMMAGINI SEZIONE WHY PER PHONES */
@media screen and (max-width: 768px) {
  #why .row img {
    height: 100px;
    background-color: #428bca;
    border-radius: 50%;
    padding: 30px;
  }
}
